body{
margin:0;
background:#050816;
font-family:tahoma;
overflow:hidden;
color:white;
}

.topbar{
display:flex;
justify-content:space-around;
padding:15px;
background:black;
color:gold;
font-size:22px;
font-weight:bold;
}

.board{
width:95vw;
max-width:520px;
height:520px;
margin:20px auto;
display:grid;
grid-template-columns:repeat(8,1fr);
gap:5px;
background:#111;
padding:10px;
border-radius:20px;
}

.gem{
background:#1f2937;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
font-size:34px;
cursor:pointer;
transition:.2s;
}

.gem:hover{
transform:scale(1.08);
}

.explode{
animation:explode .3s linear;
}

@keyframes explode{
0%{transform:scale(1);opacity:1;}
100%{transform:scale(0);opacity:0;}
}

.popup{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#111;
padding:20px;
border-radius:20px;
display:none;
border:2px solid gold;
}
